$color-alternativo:#f9d353;
$color1:#c3e3e8;
$color-borde:#4b6686; /*border input*/
$color-testimonio1:#f89c7f; /*color parte de los testimonios*/
$color-testimonio2:#faf3ec;/*color segundo testimonio*/
$fuente-principal:'Nunito Sans', sans-serif;
$fuente-secundaria:Georgia, 'Times New Roman', Times, serif;
$color-h2:#E09900;
/*text-shadow: 0 1px 3px rgb(0 0 0 / 30%) al h2 del banner;

*/
*{
    border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: $fuente-principal;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
header{
    display: grid;
    grid-template-columns: auto auto;
    width:100%;
    position: fixed;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: #fff;
    z-index: 2;
    .header_div1{
        display:inline-flex;
        padding-left: 15px;
        .logo_concha{
            margin-right: 15px;
        }
        .nombre_concha{
            width:150px;
        }
    }
    .header_div2{
        display:flex;
        justify-content: center;
        align-items: center;
        img{
            width:22px;
        }
    }
}

main{
    padding-top: 55px;
    .main_section1{
        .main_section1-div1{
            background-image: url(../assets/imagenes/banner2.png);
            background-repeat: no-repeat;
            background-size:100%;
            position:absolute;
            width: 100%;
            height: 100px;
            .contenedor--h2{
                display:flex;
                justify-content: center;
                align-items: center;
                padding-top: 40px;
                padding-bottom:25px;
                text-align: center;
                font-size: 1.8rem;
                color: #fff;
                font-family: Arial, Helvetica, sans-serif;
                h2{

                    font-weight: 500;
                    z-index: inherit;
                }
            }

        }
        .main_section1-div2{
            background-image: url(../assets/imagenes/banner1.png);
            background-size: 100%;
            background-repeat: no-repeat;
            position:absolute;
            width:100%;
            height: 100px;
            opacity: 0;
            .contenedor--h2-2{
                width:40%;
                text-align: right;
                margin-left: auto;
                margin-right: 20px;
                padding-top:15px;
                padding-bottom: 15px;
            }
            .main_section1-div2:hover{
                opacity: 0;
            }
        }
        .main_section1-div2:hover,.main_section1-div2:active{
            opacity: 1;
        }
    }
    .main_section2{
        max-width:1200px;
        margin-left: auto;
        margin: auto;
        padding-top:35%;
        .main_section2-div1{
            display: grid;
            grid-template-rows: auto auto;
            text-align: center;
            h2{
                padding-top:30px;
                padding-left: 7%;
                text-align: left;
                color:$color-h2;
                font-size: 1.25rem;
                font-weight:900;
            }
            h3{
                width:75%;
                text-align: left;
                padding-top: 12px;
                padding-left:7%;
                font-size:2.5rem;
                font-family: $fuente-secundaria;
                font-weight:400;
                color: #333;
            }
            img{
                width: 85%;
                max-width:550px;
            }
            .main_section2-div1-p1,.main_section2-div1-p2{
                width: 85%;
                text-align: left;
                padding-top:10px;
                padding-left:7%;
                padding-bottom: 10px;
                letter-spacing:.4px;
                font-size:1.8rem;
                font-weight: 200;
            }
        }
    }
    .main_section3{
        text-align:center;
        margin-top:50px;
        h2{
            text-align: center;
            padding-bottom: 50px;
            font-size:3.6rem;
            font-family: $fuente-secundaria;
            font-weight: 500;
        }
        .main_section3-interna{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            .main_section3-interna-div1{
                width: 51%;
                max-width:400px;
                img{
                    width:85%;
                    max-width: 200px;
                }
                h3{
                    padding-top:30px;
                    padding-bottom: 30px;
                    font-size:2.4rem;
                    font-family:$fuente-secundaria;
                }
                p{
                    padding-bottom: 40px;
                    font-size:1.6rem;
                    font-family: $fuente-secundaria;
                    font-weight: normal;
                    line-height: 3rem;
                }
            }
            .main_section3-interna-div2, .main_section3-interna-div3{
                @extend .main_section3-interna-div1;
            }
            .main_section3-interna-div3{
                img{
                    width:55%;
                }
            }
        }
        button{
            width:300px;
            height:70px;
            border-radius: 30px;
            background-color:$color-alternativo;
            a{
                color:$color-borde;
                font-size: 1.6rem;
                font-weight: 900;
                span{
                    font-size: .8rem;
                    vertical-align: text-top;
                }
            }
        }
    }
    .main_section4{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        background-image:radial-gradient(circle at bottom left,#ffffff 0%,#c3e3e8 28%);
        margin-top:50px;
        .main_section4-div1{
            margin-left: auto;
            margin-right: auto;
            padding-top: 20px;
            padding-bottom: 25px;
            padding-left: 7%;
            text-align:left;
            p{
                padding-bottom: 12px;
                color:$color-h2;
                font-size: 1.35rem;
                font-weight: 900;
            }
            h2{
                width:45%;
                padding-bottom: 15px;
                font-size:2rem;
                font-weight: 900;

            }
            .section_4-div1-p{
                width:90%;
                color:black;
                font-weight: 400;
                padding-bottom: 20px;
                letter-spacing: 1px;
            }
        }
        .main_section4-div2{
            padding-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
            form{

                label{

                    input{
                        display:block;
                        background:transparent;
                        outline:none;
                    }
                    #nombre, #correo{
                        width:250px;
                        margin-bottom:50px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid $color-borde;
                    }
                    #nombre::placeholder,#correo::placeholder{
                        padding-left:4px;
                        color: $color-borde;
                        font-size: 1.45rem;
                        font-weight: 400;
                    }
                    #envio{
                        width:250px;
                        height:50px;
                        margin: 40px auto 10px;
                        border:2px solid $color-borde;
                        border-radius: 30px;
                        color:$color-borde;
                        letter-spacing: 2px;
                        font-size:1.6rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .main_section5{
        padding-top: 80px;
        padding-bottom:40px;
        text-align:center;
        p{
            padding-bottom:25px;
            color:$color-h2;
            font-size: 1.5rem;
            font-weight: 900;
            letter-spacing:1px;
        }
        h2{
            font-size: 2.5rem;
            font-weight: 500;
        }
    }
    .main_section6{
        display:grid;
        /*grid-template-columns: 50% 50%; 
        max-width:1000px;
        grid-template-columns: 50% 50%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto; -- poner a partir de los 900px*/
        margin-top: 80px;
        .main_section6-div1{
            /*poner en media querie max-width:500px;*/
            text-align: center;
            background-color: $color-testimonio1;
            #persona1{
                margin-top: -70px;
                margin-bottom: -20px;
            }
            p{
                width:90%;
                text-align: left;
                padding-left: 25px;
                padding-bottom: 18px;
                line-height: 24px;
                font-size:1.6rem;
            }
            h2{
                text-align: left;
                padding-left: 25px;
                padding-bottom: 10px;
                font-size:1.7rem;
                font-weight: 600;
                color:#333333;
            }
            #parrafo_padding{
                margin-bottom: 80px;
            }
        }
        .main_section6-div2{
            @extend .main_section6-div1;
            background-color: $color-testimonio2;
            #persona2{
                margin-top: -70px;
                margin-bottom: -20px;
            }
        }
    }
}

footer{
    .footer-div1{
        text-align: center;
        h2{
            font-size:1.3rem;
            padding-top: 90px;
            padding-bottom:25px ;
        }
        #addres{
            width:150px;
            height:35px;
            margin-right: 5px;
            border-bottom: 1px solid $color-borde;
            outline:none;
        }
        #addres::placeholder{
            color: $color-borde;
        }
        #suscribe{
            background-color: $color-borde;
            color:#fff;
            font-size: 1.1rem;
            padding:6px;
            border-radius: 20px;
        }
    }
    .footer-div2{
        text-align: center;
        padding-top:80px;
        ul{
            li{
                display:inline-block;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    .footer-div3{
        @extend .footer-div2;
        padding-top:40px;
        ul{
            li{
                font-size:1.2rem;
            }
        }
    }
    .footer-div4{
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
        img{
            width:85%;
        }
        p{
            width: 90%;
            margin: 0 auto;
            padding-top: 30px;
            padding-bottom: 15px;
            font-size:1.2rem;
        }
    }
}




@media(min-width:375px){
    header{
        .header_div1{
            padding-left: 30px;
        }
    }
    main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2{
        height:120px;
    }
}



@media(min-width:425px){
    header{
        .header_div2{
            padding-left: 37%;
        }
    }
    main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2{
        height:140px;
    }
    footer{
        .footer-div1{
            h2{
                font-size:1.7rem;
            }
            #addres{
                width:255px;
            }
        }
        .footer-div3{
            li{
                a{
                    font-size: 1.5rem;
                }
            }
        }
    }
}



@media(min-width:450px){
    .main_section1{
        .main_section1-div1{
            .contenedor--h2{
                margin-top:6%;
            }
        }
    }
    main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2{
        height:150px;
    }
    .main_section5{
        h2{
            width:90%;
            margin:0 auto;
        }
    }
}




@media(min-width:550px){
    header{
        .header_div1{
            .nombre_concha{
                width:180px;
            }
        }
        .header_div2{
            img{
                width:27px;
            }
        }
    }
    
    main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2{
        height:180px;
    }
    main{
        .main_section2{
            .main_section2-div1{
                .div_interno1{
                    order:2;
                }
                .div_interno2{
                    margin-top: 30px;
                    order:1;
                }
                .div_interno3{
                    padding-top: 10px;
                    order:3;
                }
            }
        }
        .main_section3{
            .main_section3-interna  {
                .main_section3-interna-div3{
                    .img3{
                        width:42%;
                    }
                }
            }
        }
    }
}




@media(min-width:650px){
    main{
        .main_section1{
            .main_section1-div1{
                .contenedor--h2{
                    margin-top:8.2%;
                    h2{
                        font-size:3.3rem;
                    }
                }
            }
        .main_section1-div2{
            .contenedor--h2-2{
                h2{
                    text-align: right;
                    width:9
                    0%;
                    font-size:2rem;
                }
            }
        }
    }
        main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2{
            height:210px;
        }
        .main_section3{
            .main_section3-interna  {
                .main_section3-interna-div3{
                    .img3{
                        width:38%;
                    }
                }
            }
        }
        .main_section4{
            padding-top: 25px;
            .main_section4-div1{
                p{
                    font-size:1.7rem;
                }
            }
            .main_section4-div2{
                form{
                    label{
                        #nombre,#correo{
                            width:400px;
                        }
                    }
                }
            }
        }
    }
    footer{
        .footer-div4{
            img{
                width:55%;
            }
        }
    }
}




@media(min-width:750px){
    header{
        .header_div1{
            .logo_concha{
                width:50px;
            }
            .nombre_concha{
                width:210px;
            }
        }
    }
    main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2{
        height:240px;
    }
}


@media(min-width:800px){
    main{
        .main_section3{
            padding-top: 50px;
            h2{
                padding-bottom: 75px;
            }
            .main_section3-interna{
                .main_section3-interna-div1{
                    p{
                        width: 90%;
                        margin:auto;
                    }
                }
            }
        }
    }
}


@media(min-width:850px){
    header{
        .header_div2{
            padding-left: 57%;
        }
    }
    main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2{
        height:270px;
    }
    main{
        .main_section2{
            .main_section2-div1{
                .div_interno1{
                    padding-left: 70px;
                }
            }
            .div_interno3{
                padding-left: 70px;
            }
        }
    }
}




@media(min-width:950px){
    header{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2{
        height:300px;
    }
    main{
        .main_section2{
            margin-top: 30px;
            .main_section2-div1{
                max-width:1000px;
                grid-template-columns: 50% 50%;
                grid-template-rows: 40% 10%;
                margin-left: auto;
                margin-right: auto;
                .div_interno1{
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                .div_interno3{
                    padding-top: 150px;
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
            }
        }
        .main_section4{
            background-color: $color1;
            background-image: url(../assets/iconos/audifonos.png);
            background-repeat: no-repeat;
            background-position: right;
            background-size: 25%;
            display:inline-flex;
            justify-content: center;
            align-items: center;
            margin-top: 75px;
            padding-top:55px;
            padding-bottom: 65px;
            .main_section4-div1{
                padding-left: 2%;
                width:50%;
            }
            .main_section4-div2{
                padding-bottom: 10px;
            }
        }
        .main_section6{
            grid-template-columns: 50% 50%;
            max-width:1250px;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
}




@media(min-width:1050px){
    .main_section1{
        .main_section1-div1{
            .contenedor--h2{
                h2{
                    font-size:3.7rem;
                }
            }
        }
        .main_section1-div2{
            .contenedor--h2-2{
                h2{
                    padding-top: 30px;
                    text-align: right;
                    width:90%;
                    font-size:2.5rem;
                }
            }
        }
    }
    main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2{
        height:330px;
    }
    footer{
        .footer-div1{
            h2{
                font-size:2.3rem;
            }
            #addres{
                width:450px;
            }
            #suscribe{
                width:110px;
                padding:12px;
                font-size: 1.3rem;

            }
        }
        .footer-div3{
            font-size:2rem;
        }
        .footer-div4{
            img{
                width: 45%;
            }
        }
    }
}



@media(min-width:1150px){
    main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2{
        height:360px;
    }
}

@media(min-width: 1200px){
    main{
        .main_section3{
            .main_section3-interna{
                .main_section3-interna-div3{
                    .img3{
                        width: 29%;
                    }
                }
            }
        }
    }
}


@media(min-width:1250px){
    main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2{
        height:380px;
    }
}




@media(min-width:1350px){
    main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2{
        height:420px;
    }
}



@media(min-width:1450px){
    main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2{
        height:430px;
    }
}


