/*border input*/
/*color parte de los testimonios*/
/*color segundo testimonio*/
/*text-shadow: 0 1px 3px rgb(0 0 0 / 30%) al h2 del banner;

*/
* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1200px;
  font-family: "Nunito Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  width: 100%;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  z-index: 2;
}
header .header_div1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 15px;
}
header .header_div1 .logo_concha {
  margin-right: 15px;
}
header .header_div1 .nombre_concha {
  width: 150px;
}
header .header_div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_div2 img {
  width: 22px;
}

main {
  padding-top: 55px;
}
main .main_section1 .main_section1-div1 {
  background-image: url(../assets/imagenes/banner2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 100%;
  height: 100px;
}
main .main_section1 .main_section1-div1 .contenedor--h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
main .main_section1 .main_section1-div1 .contenedor--h2 h2 {
  font-weight: 500;
  z-index: inherit;
}
main .main_section1 .main_section1-div2 {
  background-image: url(../assets/imagenes/banner1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100px;
  opacity: 0;
}
main .main_section1 .main_section1-div2 .contenedor--h2-2 {
  width: 40%;
  text-align: right;
  margin-left: auto;
  margin-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
main .main_section1 .main_section1-div2 .main_section1-div2:hover {
  opacity: 0;
}
main .main_section1 .main_section1-div2:hover, main .main_section1 .main_section1-div2:active {
  opacity: 1;
}

@media (min-width: 375px) {
  main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2 {
    height: 120px;
  }
}
@media (min-width: 400px) {
  main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2 {
    height: 130px;
  }
}
@media (min-width: 425px) {
  main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2 {
    height: 140px;
  }
}
@media (min-width: 500px) {
  main .main_section1 .main_section1-div1, main .main_section1 .main_section1-div2 {
    height: 160px;
  }
}