header{
    display: grid;
    grid-template-columns: auto auto;
    width:100%;
    position: fixed;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: #fff;
    z-index: 2;
    .header_div1{
        display:inline-flex;
        padding-left: 15px;
        .logo_concha{
            margin-right: 15px;
        }
        .nombre_concha{
            width:150px;
        }
    }
    .header_div2{
        display:flex;
        justify-content: center;
        align-items: center;
        button{
            padding: 5px;
        }
    }
    #ul-containerMayor{display:none;}
    nav{
        grid-column: 1/3;;
        #ul-container {
            margin-top:10px;
            list-style: none;
            background-color:#fff;
        }
        
        .li-nav{
            font-size:17px;
            font-family:Georgia, "Times New Roman", Times, serif;
            color: #333;
           animation-duration: 1.3s;
           animation-name: sliden;
        }
        
    }
    
}



@media(min-width:900px)
{
    header{
        .header_div2{
            button{
                display:none;
            }
        }    #ul-containerMayor{
            display:inline-flex;
        }
    }
    }




@keyframes slideinReverse{
    from{
        margin-left: 0%;
        width:300%
    }
    to{
        margin-right: 0%;
        width: 100%;
    }
}


@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}


// para un uso de toggle
.visible{

    display:block;
}
.invisible{
    display:none;
    transition: display 5s;
}