main{
    padding-top: 55px;
    .main_section1{
        .main_section1-div1{
            background-image: url(../assets/imagenes/banner2.png);
            background-repeat: no-repeat;
            background-size:100%;
            position:absolute;
            width: 100%;
            height: 100px;
            .contenedor--h2{
                display:flex;
                justify-content: center;
                align-items: center;
                padding-top: 40px;
                padding-bottom:25px;
                text-align: center;
                font-size: 1.8rem;
                color: #fff;
                font-family: Arial, Helvetica, sans-serif;
                h2{

                    font-weight: 500;
                    z-index: inherit;
                }
            }

        }
        .main_section1-div2{
            background-image: url(../assets/imagenes/banner1.png);
            background-size: 100%;
            background-repeat: no-repeat;
            position:absolute;
            width:100%;
            height: 100px;
            opacity: 0;
            .contenedor--h2-2{
                width:40%;
                text-align: right;
                margin-left: auto;
                margin-right: 20px;
                padding-top:15px;
                padding-bottom: 15px;
            }
            .main_section1-div2:hover{
                opacity: 0;
            }
        }
        .main_section1-div2:hover,.main_section1-div2:active{
            opacity: 1;
        }
    }
    .main_section2{
        max-width:1200px;
        margin-left: auto;
        margin-right: auto;
        padding-top:35%;
        .main_section2-div1{
            display: grid;
            grid-template-rows: auto auto;
            margin: auto;
            text-align: center;
            h2{
                padding-top:30px;
                padding-left: 7%;
                text-align: left;
                color:$color-h2;
                font-size: 1.25rem;
                font-weight:900;
            }
            h3{
                width:75%;
                text-align: left;
                padding-top: 12px;
                padding-left:7%;
                font-size:2.5rem;
                font-family: $fuente-secundaria;
                font-weight:400;
                color: #333;
            }
            img{
                margin-left: 10px;
                width: 85%;
                max-width:550px;
            }
            .main_section2-div1-p1,.main_section2-div1-p2{
                width: 85%;
                text-align: left;
                padding-top:10px;
                padding-left:7%;
                padding-bottom: 10px;
                letter-spacing:.4px;
                font-size:1.8rem;
                font-weight: 200;
            }
        }
    }
    .main_section3{
        text-align:center;
        margin-top:50px;
        h2{
            text-align: center;
            padding-bottom: 50px;
            font-size:3.6rem;
            font-family: $fuente-secundaria;
            font-weight: 500;
        }
        .main_section3-interna{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            .main_section3-interna-div1{
                width: 51%;
                max-width:400px;
                img{
                    margin: auto;
                    width:85%;
                    max-width: 200px;
                }
                h3{
                    padding-top:30px;
                    padding-bottom: 30px;
                    font-size:2.4rem;
                    font-family:$fuente-secundaria;
                }
                p{
                    padding-bottom: 40px;
                    font-size:1.6rem;
                    font-family: $fuente-secundaria;
                    font-weight: normal;
                    line-height: 3rem;
                }
            }
            .main_section3-interna-div2, .main_section3-interna-div3{
                @extend .main_section3-interna-div1;
            }
            .main_section3-interna-div3{
                img{
                    width:55%;
                }
            }
        }
        button{
            width:300px;
            height:70px;
            border-radius: 30px;
            background-color:$color-alternativo;
            a{
                color:$color-borde;
                font-size: 1.6rem;
                font-weight: 900;
                span{
                    font-size: .8rem;
                    vertical-align: text-top;
                }
            }
        }
    }
    .main_section4{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        background-image:radial-gradient(circle at bottom left,#ffffff 0%,#c3e3e8 28%);
        margin-top:50px;
        .main_section4-div1{
            margin-left: auto;
            margin-right: auto;
            padding-top: 20px;
            padding-bottom: 25px;
            padding-left: 7%;
            text-align:left;
            p{
                padding-bottom: 12px;
                color:$color-h2;
                font-size: 1.35rem;
                font-weight: 900;
            }
            h2{
                width:45%;
                padding-bottom: 15px;
                font-size:2rem;
                font-weight: 900;

            }
            .section_4-div1-p{
                width:90%;
                color:black;
                font-weight: 400;
                padding-bottom: 20px;
                letter-spacing: 1px;
            }
        }
        .main_section4-div2{
            padding-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
            form{

                label{

                    input{
                        display:block;
                        background:transparent;
                        outline:none;
                    }
                    #nombre, #correo{
                        width:250px;
                        margin-bottom:50px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid $color-borde;
                    }
                    #nombre::placeholder,#correo::placeholder{
                        padding-left:4px;
                        color: $color-borde;
                        font-size: 1.45rem;
                        font-weight: 400;
                    }
                    #envio{
                        width:250px;
                        height:50px;
                        margin: 40px auto 10px;
                        border:2px solid $color-borde;
                        border-radius: 30px;
                        color:$color-borde;
                        letter-spacing: 2px;
                        font-size:1.6rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .main_section5{
        padding-top: 80px;
        padding-bottom:40px;
        text-align:center;
        p{
            padding-bottom:25px;
            color:$color-h2;
            font-size: 1.5rem;
            font-weight: 900;
            letter-spacing:1px;
        }
        h2{
            font-size: 2.5rem;
            font-weight: 500;
        }
    }
    .main_section6{
        display:grid;
        margin-top: 80px;
        .main_section6-div1{
            text-align: center;
            background-color: $color-testimonio1;
            #persona1{
                margin-top: -70px;
                margin-bottom: -20px;
            }
            p{
                width:90%;
                text-align: left;
                padding-left: 25px;
                padding-bottom: 18px;
                line-height: 24px;
                font-size:1.6rem;
            }
            h2{
                text-align: left;
                padding-left: 25px;
                padding-bottom: 10px;
                font-size:1.7rem;
                font-weight: 600;
                color:#333333;
            }
            #parrafo_padding{
                margin-bottom: 80px;
            }
        }
        .main_section6-div2{
            @extend .main_section6-div1;
            background-color: $color-testimonio2;
            #persona2{
                margin-top: -70px;
                margin-bottom: -20px;
            }
        }
    }
}


/// pendiente -- va bien
#ul-container {
    margin-top:10px;
    list-style: none;
    background-color:#fff;
    text-align: center;
}

.li-nav{
    font-size:17px;
    font-family:Georgia, "Times New Roman", Times, serif;
    color: #333;
   animation-duration: 1.3s;
   animation-name: sliden;
}




@keyframes sliden {
    from {
        margin-left: 100%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}


// para un uso de toggle
.visible{
    display:block;
}
.invisible{
    display:none;
}


// se deshabilita el ul para el main
@media (min-width:900px){
    #ul-container {display:none;}
}